    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
    
    body{
      background-color: hsl(30, 38%, 92%);
      display: flex;
      justify-content: center;
      height: 100vh;
    }

    div{
      display: flex;
      flex-direction: row;
      justify-content: center;
      background-color: hsl(0, 0%, 100%);
      margin: auto;
      width: 550px;
      border-radius: 5px 5px 5px 5px;
    }
     h1{
      font-family: 'Fraunces', serif;
     }

    #money{
      color: hsl(158, 36%, 37%);
    }
    
    span{
      font-size: 14px;
      color: black;
      vertical-align: middle;
      text-decoration: line-through;
      color: hsl(228, 12%, 48%);
    }
     
    h3{
      font-family: 'Montserrat', sans-serif;
      color: hsl(228, 12%, 48%);
    }

    p{
      color: hsl(228, 12%, 48%);
    }

    img{
      height: 435px;
      border-radius: 5px 0 0 5px;
      vertical-align: middle;
      min-width: 300px;
    }
    .div1{
      display: block;
      width: 300px;
      margin-left: 10px;
      margin-top: 5px;
    }

    button{
      margin-left: 8px;
      width: 175px;
      margin-bottom: 20px;
      background-color: hsl(158, 36%, 37%);
      padding: 5px;
      border: none;
      color: white;
      border-radius: 5px;
    }

    @media screen and ( max-width:400px){

      body{
        background-color: greenyellow;
      }

      div{
        display: block;
        width: 99%;
      }

      img{
        width: 100%;
      }

      button{
        width: 300px;
        text-align: center;
      }
    }

    @media screen and (min-width:600px){
      body{
        background-color: rgb(48, 78, 60);;
      }
    }